<app-header></app-header>

<div class="profile-container">
  <h2>Profile</h2>
  <img class="profile-image" [src]="user?.image" alt="User image" />
  <p><strong>Username:</strong> {{ user?.username }}</p>
  <p><strong>Description:</strong> {{ user?.description }}</p>
  <button class="edit-button" (click)="toggleEditMode()">Edit Profile</button>
  <button class="logout-button" (click)="onLogout()">Logout</button>
</div>

<div *ngIf="editMode" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="toggleEditMode()">&times;</span>
    <h2>Edit Profile</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="username">Username:</label>
      <input id="username" [(ngModel)]="editUser.username" name="username" />
      <label for="description">Description:</label>
      <input
        id="description"
        [(ngModel)]="editUser.description"
        name="description"
      />
      <label for="image">Image URL:</label>
      <input id="image" [(ngModel)]="editUser.image"
        name="image" />
      <button type="submit" class="save-button">Save Changes</button>
    </form>
  </div>
</div>